.content{
    background-color: aquamarine;
}
img{
    height: 200px;
    border-radius: 170px;
}
.container{
    border: 5px solid black;
    margin: 0px 850px;
    background-color: black;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    
}
h2{
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}